@import 'nib'
global-reset()

c-yellow = #f4dc0f
c-grey = #bbbaba

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

html, body
  height 100%
  width 100%

body
  background-attachment fixed
  background-image url('../img/bg.jpg');
  background-size 100%
  box-sizing border-box
  color #111
  font-family: 'Tinos', serif;
  //font-family Open Sans, Helvetica Neue, Arial
  //padding 20px

.wrap
  margin 0 auto

article
  height 100%
  width 100%
  header
    border-bottom 2px solid c-yellow
    color #fff
    min-height 100%
    padding 64px 20px 0
    width 100%
    
    .wrap
      max-width 880px
    
    p
      font-size 21.71px
      line-height 34.73px
      margin 30px 0
      span
        color c-yellow
        font-style italic
    .action
      padding 60px 0
  
  section
    background-color #fff
    min-height 100%
    padding 30px 20px 0
    
    .wrap
      max-width 1232px
    
    .people
      display flex
      flex-flow wrap row
      justify-content space-around
      align-content stretch
    
  footer
    background-color #080807
    background-image url('../img/footer.jpg');
    background-position center
    border-bottom 2px solid #fff
    height 160px
    text-align center
    

h1
  font-size 58.61px
  font-style italic
  font-weight 600
  margin 60px 0
  
h2
  font-size 22px
  font-weight 600
  margin-bottom 20px
  
h4
  font-size 14px
  font-weight 600
  margin-bottom 20px
  text-transform uppercase

$avatar_sizes = 120px

.avatar
  border-radius 50%
  box-sizing border-box
  vertical-align middle
  
  for $avatar_size in $avatar_sizes {
    &.x{$avatar_size} {
      height $avatar_size
      width $avatar_size
    }
  }

.person
  display flex
  flex 1
  flex-basis 290px
  margin 30px 15px
  padding-top 60px
  //width 290px
  .info
    background #f4f4f4
    padding 85px 24px 24px
    position relative
    width 100%
    .avatar
      left 50%
      margin-left -60px
      position absolute
      top -60px
    p
    p.title
      font-size 18px
      height 44px
      line-height 22px
      margin-bottom 20px
    p.summary
      font-size 16px
      height 60px
      line-height 20px
      margin-bottom 40px
      overflow hidden
    a.button
      width 100%
      &.grey
        color #888
      &.yellow
        color #333
      & + a.button
        margin-top 24px

a.button, button.button
  border-radius 4px
  box-sizing border-box
  color #fff
  display inline-block
  font-size 18px
  font-style italic
  font-weight 600
  line-height 64px
  text-align center
  text-decoration none
  &.yellow
    background-color c-yellow
    border-color c-yellow
  &.grey
    background-color c-grey
    border-color c-grey
  &.border
    background-color transparent
    border-style solid
    border-width 2px
    line-height 60px
  &.large
    font-size 26px
    line-height 76px
    width 360px

@media only screen and (max-width: 767px)
  /* phones */
  article
    header
      a.button.large
        width 100%
    header, section
      .wrap
        width 100%
