extend layout

block content
  article
    header
      .wrap
        img(src='/img/logo.png', width='60', height='60')
        h1 Well, that didn’t go as expected.
        
        p 
          span Start-up culture 
          | can be an unforgiving mistress. An unexpected obstacle can divert your plans and sink the whole ship, making it suddenly feel like every man for himself. But a great team, the very thing that paved the way for your first success and got you out of bed each morning, can help you bounce back and land on your feet.

        p Over the last few years I had the pleasure to work with many talented designers and developers. I submit to you a catalog of hardworking and innovative creators of whom would be an incredible asset to any business or product.

        .action
          a.button.large.yellow.border(href='#professionals') Professionals for Hire
    
    section
      .wrap
        .people
          .person
            img.avatar.x120(src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAY-AAAAJGIwMDcxMjE3LTlhODQtNDRhMy04YmE1LTU1NmY1NzU1YTNmNA.jpg')
            .info
              h2 Brett Erpel
              p.title UI Designer at SportsYapper looking for new opportunities
              h4 Summary
              p.summary I enjoy creating elegant solutions for complex problems.