doctype
html(ng-app='hireusplz')
  head
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Tinos:400,400italic,700,700italic', type='text/css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/vendor.css')    
    link(rel='stylesheet', href='css/base.css')    
    script(type="text/javascript", src="js/vendor.min.js")
    script(type="text/javascript", src="js/hireusplz.min.js")

  body
    block content